/* src/styles.css */
body {
  background: linear-gradient(to bottom right, #007bff, #6c757d); /* Ombre background color */
}

.custom-container {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.custom-form {
  color: white;
}

